html, body{
  margin: 0px;
  padding:0px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.title-box{
  background-color: white;
}

.title{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.subtitle{
  width: 100%;
  margin: 0px;
  padding: 0px;

}

.navbar{
  width: 100%;
  margin: 0px;
  padding: 0px;

}

.navlist{
  background-color: black;
  list-style: none;
  list-style-position: inside;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.navitem{
  display: inline-block;
  margin-left: 0px;
  padding-left:0px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.intro{
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: none;
  background-color: #D73F09; /*Might need to change*/
  color: white;
}

.body{
  background-color: lightblue;
}
