html{
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: url("NewBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20%;
}

.h1{
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.h2{
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.navbar{
  float: left;
  width: 97.39%;
  margin: 0px;
  padding: 0px;

}

.navlist{
  background-color: black;
  list-style: none;
  list-style-position: inside;
  float: left;
  width: 100%;
}

.navitem{
  display: inline-block;
  padding-left:0px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.Mission{
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: none;
  background-color: #D73F09; /*Might need to change*/
  color: white;
}

.p{
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: none;
  background-color: #D73F09; /*Might need to change*/
  color: white;
}
